body {
    background: linear-gradient(to bottom, #0a0a0a 50%, #6a097e 50%);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #6a097e;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

.btn-primary {
    width: 100%;
    background-color: #6a097e;
    border-color: #6a097e;
    color: #ffffff;
}

.alert {
    margin-bottom: 20px;
}

/* Estilo para o link de cadastro */
.container p {
    text-align: center; /* Centraliza o texto */
    margin-top: 20px; /* Espaçamento superior */
}

.container p a {
    color: #6a097e; /* Cor roxa para o link */
    text-decoration: none; /* Remove o sublinhado padrão */
}

.container p a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}
